<!doctype html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" href="./logo-1.png" type="image/x-icon" />

    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="../css/teamall.css" />
    <link rel="stylesheet" type="text/css" href="../css/index.css" />
    <link rel="stylesheet" type="text/css" href="../css/article.css" />
    <title>茶企通-仓储服务协议</title>
</head>

<body class="index">
    <div class="wrap">
        <div class="head">
            <div class="clearfix box">
                <div class="fl">
                    <span>您好！</span>
                    <span id="showName">欢迎来到茶企通平台</span>
                    <a class="a1" href="../login.html">登录</a>
                    <a class="a2" href="../register.html">注册</a>
                    <a class="a3 hideEle" href="javascript:loginOut();">退出</a>
                </div>
                <div class="fr">
                    <a class="a4 hideEle" href="../myContent.html">个人中心</a>
                    <a class="a5 hideEle" href="../myContent.html-page=114.htm">我的消息</a>
                    <!--<a>网站导航</a>-->
                </div>
            </div>
        </div>
        <div class="top-side">
            <div class="top-side-box">
                <div class="clearfix logo">
                    <span class="img pointer" onclick="javascript:window.location.href='../index.html'/*tpa=https://www.teaexs.com/index.html*/;"></span>
                </div>
            </div>
        </div>

        <div class="content">
            <h2 style=" text-align: center; text-shadow:1px 2px 1px #CDC5BF;">茶企通平台简介</h2>
            </br>
            <p style="font-size: 15px;color: grey" class="second">
                <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;西双版纳璟泰茶业有限公司（以下简称
            “公司”）于2016年底在西双版纳勐腊县注册成立，
            注册资本3000万元，是一家具有雄厚技术开发实力以
            及优秀运营管理能力的互联网技术公司。</br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;旗下的茶企通平台是一个以“垂直电商
            +新零售”为主的创新贸易平台。提供订货、仓储物流
            、营销、增值服务等一站式互联网综合服务平台。</br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;公司自主研发的系统在保障广大客户资
            金安全的同时，也提供不同场景应用的客户端。为满足
            不同客户群体的需求，提供良好的用户体验服务。</br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;零售商和消费者通过平台客户管理端实
            现产品购买、信息分享、活动参与、产品溯源防伪。企
            业和经销商通过平台后台管理端实现对消费者管理、商
            品动态、销售及库存情况管理。</br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;终端管理后台将作为大数据引擎，提供
            企业和经销商数据分析，财务金融管理等应用。为实现
            对交易数据、运营统计和门店经营决策等精细化管理提
            供数据支持。</br>
            公司与国内技术顶尖的仓储公司合作，
            使用先进、专业的普洱茶仓储技术，实时监测保障和提
            升普洱茶的品质，增加其价值。同时，与国内知名的物
            流公司合作，为商品物流、及时配送保驾护航。</br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;公司一直秉呈“让茶企轻松卖茶、经销
            商无资金压力赚钱、消费者放心购买好茶”的经营理念
            ，坚持“客户第一”的原则为广大客户提供优质的服务
            。实现真正扩大底层消费群体数量，提升普洱茶大众消
            费水平，从而保障茶业实体经济稳健增涨。促进茶产业
            良性发展，构建茶行业的健康互联网生态圈。</b>
            </p>
            </br>
            </br>
            </br>
            </br>
            </br>
        </div>



        <div class="foot" id="foot">
            <div class="clearfix box">
                <ul class="fl">
                    <li class="l1">
                        <h5>网站指南</h5>
                        <a href="./zczn.html">注册指南</a>
                        <a href="./yssm.html">隐私说明</a>
                        <a href="./zcxy.html">注册协议</a>
                        <a href="./qgsm.html">抢购说明</a>
                        <a href="./fpbz.html">发票帮助</a>
                    </li>
                    <li class="l3">
                        <h5>支付与仓储</h5>
                        <a href="./zcxy.html">支付服务协议</a>
                        <a href="./ccfwxy.html">仓储服务协议</a>
                    </li>
                    <li class="L4">
                        <h5>关于我们</h5>
                        <a href="./gsyyzz.html">工商营业执照</a>
                        <a href="./cqtptjj.html">平台简介</a>
                    </li>
                </ul>
                <div class="fr phone-box">
                    <p>24小时全国服务热线</p>
                    <h4>4009286990</h4>
                </div>
                <div class="fl copyright">

                    <p>西双版纳璟泰茶业有限公司 版权所有
                        <br>网站备案/许可证号：滇ICP备17005249号-1</p>
                </div>
            </div>
        </div>
    </div>

</body>
<script src="../static/jquery.js"></script>
<script src="../static/jquery-cookie.js"></script>
<script src="../static/js/common.js"></script>

</html>