<!doctype html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" href="./logo-1.png" type="image/x-icon" />

    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css" tppabs="https://www.teaexs.com/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="../css/teamall.css" tppabs="https://www.teaexs.com/css/teamall.css" />
    <link rel="stylesheet" type="text/css" href="../css/index.css" tppabs="https://www.teaexs.com/css/index.css" />
    <link rel="stylesheet" type="text/css" href="../css/article.css" tppabs="https://www.teaexs.com/css/article.css" />
    <title>茶企通-隐私说明</title>
</head>

<body class="index">
    <div class="wrap">
        <div class="head">
            <div class="clearfix box">
                <div class="fl">
                    <span>您好！</span>
                    <span id="showName">欢迎来到茶企通平台</span>
                    <a class="a1" href="../login.html">登录</a>
                    <a class="a2" href="../register.html">注册</a>
                    <a class="a3 hideEle" href="javascript:loginOut();">退出</a>
                </div>
                <div class="fr">
                    <a class="a4 hideEle" href="../myContent.html">个人中心</a>
                    <a class="a5 hideEle" href="../myContent.html-page=114.htm">我的消息</a>
                    <!--<a>网站导航</a>-->
                </div>
            </div>
        </div>
        <div class="top-side">
            <div class="top-side-box">
                <div class="clearfix logo">
                    <span class="img pointer" onclick="javascript:window.location.href='../index.html'/*tpa=https://www.teaexs.com/index.html*/;"></span>
                </div>
            </div>
        </div>

        <div class="content">
            <img src="../images/help/gsyyzz.png" tppabs="https://www.teaexs.com/images/help/gsyyzz.png"></br>
        </div>
        <div class="foot" id="foot">
            <div class="clearfix box">
                <ul class="fl">
                    <li class="l1">
                        <h5>网站指南</h5>
                        <a href="./zczn.html">注册指南</a>
                        <a href="./yssm.html">隐私说明</a>
                        <a href="./zcxy.html">注册协议</a>
                        <a href="./qgsm.html">抢购说明</a>
                        <a href="./fpbz.html">发票帮助</a>
                    </li>
                    <li class="l3">
                        <h5>支付与仓储</h5>
                        <a href="./zcxy.html">支付服务协议</a>
                        <a href="./ccfwxy.html">仓储服务协议</a>
                    </li>
                    <li class="L4">
                        <h5>关于我们</h5>
                        <a href="./gsyyzz.html">工商营业执照</a>
                        <a href="./cqtptjj.html">平台简介</a>
                    </li>
                </ul>
                <div class="fr phone-box">
                    <p>24小时全国服务热线</p>
                    <h4>4009286990</h4>
                </div>
                <div class="fl copyright">

                    <p>西双版纳璟泰茶业有限公司 版权所有<br>网站备案/许可证号：滇ICP备17005249号-1</p>
                </div>
            </div>
        </div>
    </div>

</body>
<script src="../static/jquery.js"></script>
<script src="../static/jquery-cookie.js"></script>
<script src="../static/js/common.js"></script>

</html>