<!doctype html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" href="./logo-1.png" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../css/teamall.css">
    <link rel="stylesheet" type="text/css" href="../css/index.css">
    <link rel="stylesheet" type="text/css" href="../css/article.css">
    <title>茶企通-抢购说明</title>
</head>

<body class="index">
    <div class="wrap">
        <div class="head">
            <div class="clearfix box">
                <div class="fl">
                    <span>您好！</span>
                    <span id="showName">欢迎来到茶企通平台</span>
                    <a class="a1" href="../login.html">登录</a>
                    <a class="a2" href="../register.html">注册</a>
                    <a class="a3 hideEle" href="javascript:loginOut();">退出</a>
                </div>
                <div class="fr">
                    <a class="a4 hideEle" href="../myContent.html">个人中心</a>
                    <a class="a5 hideEle" href="../myContent.html-page=114.htm">我的消息</a>
                    <!--<a>网站导航</a>-->
                </div>
            </div>
        </div>
        <div class="top-side">
            <div class="top-side-box">
                <div class="clearfix logo">
                    <span class="img pointer" onclick="javascript:window.location.href='/index.html';"></span>
                </div>
            </div>
        </div>

        <div class="content">
            <div class="font_bold">一、抢购时间及流程</div>
            1、茶企通平台将不定期进行新茶抢购，发布新品。平台将提前15天发布新茶上市公告，您可在此期间对产品进行全方位了解；如您考虑入手，可在发行开始后下单抢购。抢购期为3天。详情请关注茶企通平台动态。<br> 2、登录茶企通平台在【新茶抢购】模块可看到本月即将开始抢购或者正在抢购期的新茶产品，有“立即抢购”字样的产品，表示产品正在抢购，您可选择数量进行操作。
            <br> 3、购买成功的茶品，可在【茶仓】中查看。如您选择继续存储在仓库，在抢购期结束的第二天起商品开始进入免费仓储周期，每个商品的免费仓储周期以及仓储费用由茶企自行设定，超出免费仓储周期后，将开始收取仓储费用。更多仓储服务内容可参见《仓储服务管理协议》。
            <br>
            <div class="font_bold">二、交易支付</div>
            1、新茶抢购的订单可使用在线支付或账户余额支付当您付款成功后，则购买商品成功。<br> 2、抢购订单支付有效期为15分钟，您提交订单后请务必在15分钟内完成支付，否则可能出现您在15分钟以后支付成功但订单购买失败的情况。例如：您成功提交订单以后，在第14分钟才开始进行支付操作，实际支付成功时已超过15分钟有效期，系统会自动取消您的订单，即使页面提示您已支付完成，这笔订单仍算购买失败，系统会在7个工作日内自动将您的付款金额退回至原支付账户。
            <br>
            <div class="font_bold">三、订单说明</div>
            1、新茶抢购订单完成后，可在 【我的-购买记录】中 查看订单详情。<br> 2、新茶抢购期订单不能取消，已抢购成功的商品不予退货，有问题请联系客服。
        </div>

        <div class="foot" id="foot">
            <div class="clearfix box">
                <ul class="fl">
                    <li class="l1">
                        <h5>网站指南</h5>
                        <a href="./zczn.html">注册指南</a>
                        <a href="./yssm.html">隐私说明</a>
                        <a href="./zcxy.html">注册协议</a>
                        <a href="./qgsm.html">抢购说明</a>
                        <a href="./fpbz.html">发票帮助</a>
                    </li>
                    <li class="l3">
                        <h5>支付与仓储</h5>
                        <a href="./zcxy.html">支付服务协议</a>
                        <a href="./ccfwxy.html">仓储服务协议</a>
                    </li>
                    <li class="L4">
                        <h5>关于我们</h5>
                        <a href="./gsyyzz.html">工商营业执照</a>
                        <a href="./cqtptjj.html">平台简介</a>
                    </li>
                </ul>
                <div class="fr phone-box">
                    <p>24小时全国服务热线</p>
                    <h4>4009286990</h4>
                </div>
                <div class="fl copyright">

                    <p>西双版纳璟泰茶业有限公司 版权所有<br>网站备案/许可证号：滇ICP备17005249号-1</p>
                </div>
            </div>
        </div>
    </div>

</body>
<script src="../static/jquery.js"></script>
<script src="../static/jquery-cookie.js"></script>
<script src="../static/js/common.js"></script>

</html>