<!doctype html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" href="./logo-1.png" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="../css/teamall.css" />
    <link rel="stylesheet" type="text/css" href="../css/index.css" />
    <link rel="stylesheet" type="text/css" href="../css/article.css" />
    <title>茶企通-注册指南</title>
</head>

<body class="index">
    <div class="wrap">
        <div class="head">
            <div class="clearfix box">
                <div class="fl">
                    <span>您好！</span>
                    <span id="showName">欢迎来到茶企通平台</span>
                    <a class="a1" href="../login.html">登录</a>
                    <a class="a2" href="../register.html">注册</a>
                    <a class="a3 hideEle" href="javascript:loginOut();">退出</a>
                </div>
                <div class="fr">
                    <a class="a4 hideEle" href="../myContent.html">个人中心</a>
                    <a class="a5 hideEle" href="../myContent.html-page=114.htm">我的消息</a>
                    <!--<a>网站导航</a>-->
                </div>
            </div>
        </div>
        <div class="top-side">
            <div class="top-side-box">
                <div class="clearfix logo">
                    <span class="img pointer" onclick="javascript:window.location.href='../index.html'/*tpa=https://www.teaexs.com/index.html*/;"></span>
                </div>
            </div>
        </div>

        <div class="content">
            <div class="font_bold">一、网页注册</div>
            1.在首页左上角点击注册或在登录页面点击免费注册链接<br>
            <img src="../images/help/zczn1.png" tppabs="https://www.teaexs.com/images/help/zczn1.png"><br>
            <div style="text-align:center;">（图1.1.1登录页面）</div>
            <br> 2. 进入注册页面<br>
            <img src="../images/help/zczn2.png" tppabs="https://www.teaexs.com/images/help/zczn2.png"><br>
            <div style="text-align:center;">（图1.1.2注册页面）</div>
            <br> 1) 输入手机号<br> 2) 输入图形验证码<br> 3) 点击发送验证码<br> 4) 输入手机收到的短信验证码<br> 5) 设置登录密码<br> 6) 阅读并同意《茶企通开户注册协议》<br> 7) 点击注册<br> 8) 注册成功<br> 9) 点击回首页逛逛<br>
            <img src="../images/help/zczn3.png" tppabs="https://www.teaexs.com/images/help/zczn3.png"><br>
            <div style="text-align:center;">（图1.1.3注册成功）</div>
            <br> 3. 进入首页，提示需完善资料，点击完善资料进行身份认证及门店绑定<br>
            <img src="../images/help/zczn4.png" tppabs="https://www.teaexs.com/images/help/zczn4.png"><br>
            <div style="text-align:center;">（图1.2.1提示完善资料）</div>
            <br> 2. 输入您的姓名和身份证号，点击下一步<br>
            <img src="../images/help/zczn5.png" tppabs="https://www.teaexs.com/images/help/zczn5.png"><br>
            <div style="text-align:center;">（图1.2.2实名认证）</div>
            <br> 4. 选择要绑定的经销商，您可以通过选择经销商的地址或直接输入经销商的推荐码（推荐码请咨询您要绑定的经销商）<br>
            <img src="../images/help/zczn6.png" tppabs="https://www.teaexs.com/images/help/zczn6.png"><br>
            <div style="text-align:center;">（图4.2.3绑定经销商选择经销商地址）</div>
            <br>
            <img src="../images/help/zczn7.png" tppabs="https://www.teaexs.com/images/help/zczn7.png"><br>
            <div style="text-align:center;">（图1.2.4绑定经销商输入经销商推荐码）</div>
            <br> 5. 完善资料成功<br>
            <img src="../images/help/zczn8.png" tppabs="https://www.teaexs.com/images/help/zczn8.png"><br>
            <div style="text-align:center;">（图1.2.5绑定成功）</div>
            <br>

            <div class="font_bold"> 二、 APP注册</div>
            1. 点击我的进入登录页面，点击右上角注册按键进入注册页面。<br>
            <div style="text-align:center;"><img src="../images/help/app_zc1.png" tppabs="https://www.teaexs.com/images/help/app_zc1.png"></div>
            <br>
            <div style="text-align:center;">（图1.1.1登录页面）</div>
            <br>
            <div style="text-align:center;"><img src="../images/help/app_zc2.png" tppabs="https://www.teaexs.com/images/help/app_zc2.png"></div>
            <br>
            <div style="text-align:center;">（图1.1.2注册页面）</div>
            <br> 1) 输入手机号<br> 2) 输入图形验证码<br> 3) 点击发送验证码<br> 4) 输入手机收到的短信验证码<br> 5) 设置登录密码<br> 6) 阅读并同意《茶企通开户注册协议》<br> 7) 点击注册<br> 8) 注册成功<br> 9) 点击回首页逛逛<br>
            <div style="text-align:center;"><img src="../images/help/app_zc3.png" tppabs="https://www.teaexs.com/images/help/app_zc3.png"></div>
            <br>
            <div style="text-align:center;">（图1.1.3注册成功）</div>
            <br> 1. 注册成功后，提示需完善资料，点击完善资料进行身份认证及门店绑定<br>
            <div style="text-align:center;"><img src="../images/help/app_zc4.png" tppabs="https://www.teaexs.com/images/help/app_zc4.png"></div>
            <br>
            <div style="text-align:center;">（图1.2.1提示完善资料）</div>
            <br> 2. 输入您的姓名和身份证号，点击下一步<br>
            <div style="text-align:center;"><img src="../images/help/app_zc5.png" tppabs="https://www.teaexs.com/images/help/app_zc5.png"></div>
            <br>
            <div style="text-align:center;">（图1.2.2实名认证）</div>
            <br> 2. 选择要绑定的经销商，您可以通过选择经销商的地址或直接输入经销商的推荐码（推荐码请咨询您要绑定的经销商）<br>
            <div style="text-align:center;"><img src="../images/help/app_zc6.png" tppabs="https://www.teaexs.com/images/help/app_zc6.png"></div>
            <br>
            <div style="text-align:center;">（图1.2.3绑定经销商选择经销商地址）</div>
            <br>
            <div style="text-align:center;"><img src="../images/help/app_zc7.png" tppabs="https://www.teaexs.com/images/help/app_zc7.png"></div>
            <br>
            <div style="text-align:center;">（图1.2.4绑定经销商输入经销商推荐码）</div>
            <br>
            <div style="text-align:center;"><img src="../images/help/app_zc8.png" tppabs="https://www.teaexs.com/images/help/app_zc8.png"></div>
            <br>
            <div style="text-align:center;">（图1.2.5确认绑定经销商信息）</div>
            <br> 3. 完善资料成功<br>
            <div style="text-align:center;"><img src="../images/help/app_zc9.png" tppabs="https://www.teaexs.com/images/help/app_zc9.png"></div>
            <br>
            <div style="text-align:center;">（图1.2.5绑定成功）</div>
        </div>
        <div class="foot" id="foot">
            <div class="clearfix box">
                <ul class="fl">
                    <li class="l1">
                        <h5>网站指南</h5>
                        <a href="./zczn.html">注册指南</a>
                        <a href="./yssm.html">隐私说明</a>
                        <a href="./zcxy.html">注册协议</a>
                        <a href="./qgsm.html">抢购说明</a>
                        <a href="./fpbz.html">发票帮助</a>
                    </li>
                    <li class="l3">
                        <h5>支付与仓储</h5>
                        <a href="./zcxy.html">支付服务协议</a>
                        <a href="./ccfwxy.html">仓储服务协议</a>
                    </li>
                    <li class="L4">
                        <h5>关于我们</h5>
                        <a href="./gsyyzz.html">工商营业执照</a>
                        <a href="./cqtptjj.html">平台简介</a>
                    </li>
                </ul>
                <div class="fr phone-box">
                    <p>24小时全国服务热线</p>
                    <h4>4009286990</h4>
                </div>
                <div class="fl copyright">

                    <p>西双版纳璟泰茶业有限公司 版权所有<br>网站备案/许可证号：滇ICP备17005249号-1</p>
                </div>
            </div>
        </div>
    </div>

</body>
<script src="../static/jquery.js"></script>
<script src="../static/jquery-cookie.js"></script>
<script src="../static/js/common.js"></script>

</html>